<div>
    <!-- *ngFor is an angular for loob, let is like var
        in javascript which declares a variable with
        unknown compile time type -->
    <!-- [todo], square brackets refers to an input,
        we are passing the current todo from the loob
        to a variable named todo in the todo-item component -->
    <!-- (deleteTodo), curly brackets is for catching events
        deleteTodo is an emitted event from the child to delete
        this element on the UI, this happens through the method
        that this event triggers which is "deleteTodo($event),
        also the EventEmitter emits an event with the todo,
        that's what $event simply refers to, the todo" -->
    <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
        (deleteTodo)="deleteTodo($event)">
    </app-todo-item>
</div>